body {
	background: #000000;
	color: #FFFAFA;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	border: none;
}
A:visited {
 font-family: Arial, Helvetica, sans-serif;
 color: #999999;
}
A:link {
 font-family: Arial, Helvetica, sans-serif;
 color: #FFFAFA;
}
A:hover {
 font-family: Arial, Helvetica, sans-serif;
 color: #666666;
 text-decoration: none;
}
ul {
	position:relative;
}
img {
	border: #FFFFFF;
}
#main {
	font-family: Arial, Helvetica, sans-serif;
	width:800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.navigation {
	border: thin double #FFFFFF;
	padding: 10px;
	background-image: url(journal/Spring 04/newback.jpg);
	width: 700px;
	margin-right: 50px;
	margin-left: 50px;
}
h2 {
 font:bold 78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
 text-transform:uppercase;
 letter-spacing:.25em;
}
.date-header {
	margin:0em 0 0.5em;
	color: #FFFAFA;
	font-weight: bold;
	padding: 3px;
	position:relative;
}
.post {
	margin:.5em 0 1.5em;
	padding-bottom:1.5em;
	border: thin solid #FFFFFF;
	padding: 10px;
	background-image: url(journal/Spring 04/newback.jpg);
}
.post-title {
	margin:0 0 -.5em;
	font-size:140%;
	color:#ad9;
	font-weight: bolder;
	position:relative;
}
.post img {
 padding:4px;
 border:1px solid #000000;
 position:relative;
}
.post p {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFAFA;
	position:relative;
	margin-top: -0.5;
}
.back {
	margin:-.5em 0 0;
	color: #FFFAFA;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
}
hr {
	color:#FFFAFA;
	width:50%;
}
marquee {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFAFA;
	background: #000000;
	font-weight: bolder;
	padding: 10px;
	border: thin solid #FFFAFA;
	width:700px;
	position:relative;
}
.update {
	border: medium double #FFFAFA;
	color: #FFFAFA;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
}
