body {
	background: url(stayback.gif) fixed;
	color: #FFFAFA;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
}
.solid {
	color: #FFFAFA;
	font-family: Georgia, "Times New Roman", Times, serif;
	position:relative;
}
A:visited {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #999999;
}
A:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFAFA;
}
A:hover {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	text-decoration: none;
}
#main {
	font-family: Georgia, "Times New Roman", Times, serif;
	width:800px;
	margin:0 auto;
	filter:Alpha(Opacity=65);
}
#content {
	font-family: Georgia, "Times New Roman", Times, serif;
	width:800px;
	margin:0 auto;
	filter:Alpha(Opacity=65);
}
h2 {
	margin:1.5em 0 .75em;
	font:bold 78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
	text-transform:uppercase;
	letter-spacing:.25em;
}
.date-header {
	margin:0em 0 0.5em;
	color: #000000;
	font-weight: bold;
	background-color:#fff;
	border: thin solid #000000;
	padding: 3px;
	width: 50%;
	position:relative;
}
.post {
	padding-bottom:1.5em;
	border: thin solid #FFFAFF;
	padding: 10px;
	background-color: #003300;
}
.post-title {
	margin:0;
	font-size:140%;
	color:#ad9;
	font-weight: bolder;
}
img {
	position:relative;
}
hr {
	color:#000000;
}
.about {
	color:#FFFAFA;
	width: 50%;
}
marquee {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	font-weight: bolder;
	background-color: #FFFFFF;
	padding: 10px;
	border: thin solid #000000;
	width:700px;
	position:relative;
}
.navigation {
	border: medium double #FFFAFA;
	background-color: #000000;
	filter: Alpha(Opacity=80);
	opacity:1.0;
	width:700px;
}
.update {
	border: medium double #FFFAFA;
	color: #FFFAFA;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #000000;
	filter: Alpha(Opacity=85);
	padding:5px;
}
.back {
	border: thin solid #FFFAFA;
	color: #FFFAFA;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #000000;
	filter:Alpha(Opacity=80);
	opacity:1.0;
	background-position: center;
}
.gselection {
	border: thin solid #FFFAFF;
	background-color: #000000;
	filter: Alpha(Opacity=70);
	opacity:1.0;
	width:700px;
	padding: 10px;
	margin-right: 40px;
	margin-left: 40px;
}
.subtitle {
	background-color: #FFFFFF;
	border: thin solid #000000;
	padding: 10px;
}
.text {
	padding-bottom:1.5em;
	border: thin solid #FFFAFF;
	padding: 10px;
	background-color: #003300;
}