@charset "UTF-8";

/* system.css */

body {
  color: #fff;
   background-color: #333333;
	text-shadow: #000 2px 2px 4px;
}

/* using the even/odd tableset to our advantage */

table tr.odd {
    background: #222;
}
table tr.even {
    background: #666;
}

/* strip stock backgrounds */

td.active, tr.drag, tr.drag-previous {
background-color: transparent;
}

/* reset log time colors back to defaults */

.error, div.error, tr.error {
   background-color: transparent;
color: #e55;
}

.warning, div.warning, tr.warning {
color: #e09010;
}

.ok, div.ok, tr.ok {
color: #008000;
}

/* system menus.css */

li.expanded, li.collapsed, li.leaf {
list-style-image: none;
}

li a.active {
   color: #f00;
}

td.menu-disabled {
  background: #ccc;
}

/* admin.css */

table.system-status-report tr.error, table.system-status-report tr.error th {
border-color: #ebb;
}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
    border-color: #eeb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
  border-color: #beb;
}

/* update.css */

.update tr.error, .update tr.ok {
   border-color: #f00;
    background-color: transparent;
}

.update tr.error .version-recommended {
   border-color: #f11;
    background-color: transparent;
}

.update tr.ok {
   border-color: #1f1;
    background-color: transparent;
}

.update tr.warning {
  border-color: #ff1;
    background-color: transparent;
}

.update tr.warning .version-recommended {
border-color: #ff2;
    background-color: transparent;
}

/* node.css */

.preview .node {
  background-color:#333;
}

/* dblog.css */

tr.dblog-user {
   background: #808049;
}

tr.dblog-user .active {
background: #6F6F46;
}

tr.dblog-content {
  background: #494980;
}

tr.dblog-content .active {
  background: #3E3E6F;
}

tr.dblog-page-not-found, tr.dblog-access-denied {
   background: #498049;
}

tr.dblog-page-not-found .active, tr.dblog-access-denied .active {
   background: #3E6F3E;
}

tr.dblog-error {
    background: #803F3F;
}

tr.dblog-error .active {
    background: #6F3535;
}

.sticky-header
{
	color: #000;
	background: #333333;
}