/* $Id: blocks.css,v 1.4 2009/11/05 11:05:39 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */

@font-face {
  font-family: GothamRounded-Medium;
  src: url('../GothamRounded-Medium.otf');
}

.block /* Block wrapper */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
  font-family: "GothamRounded-Medium", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  margin: 0;
  color: #486291;
  text-shadow: #666 3px 3px 3px;
}

.sidebar .block .content {
  border-top: #d89460 10px solid;
  padding: 0.2em 0.7em 0 0.7em;
  background: url(../images/block_back.png);
  margin-bottom: -0.6em;
}

.sidebar .block .content p,
.sidebar .block .content ul,
.sidebar .block .content ul li {
  margin: 0.6em 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  line-height: 1.6em;
}

.sidebar .block .block-bottom {
  display: block;
  background:url(../images/block_bottom.png);
  height:30px;
  width:230px;
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-menu-menu-blogmenu {
	margin:0;	
}

#block-menu-menu-blogmenu ul {
  padding: 0 0 0 5px;
}

#block-menu-menu-blogmenu h2.title {
  display:none;
}

#block-menu-menu-blogmenu .content ul li {
  list-style-image:none;
  list-style-type:none;
  font-family:"GothamRounded-Medium",Arial, Helvetica, sans-serif;
  font-size:18px;
  text-shadow: #333 1px 1px 2px;
}

#block-menu-menu-blogmenu .content ul li a {
  text-decoration:none;
  color: #145952;
}

#block-menu-menu-blogmenu .content ul li ul.menu {
  display:none;
  position:absolute;
  z-index: 10000;
  overflow:hidden;
  padding:0;

}

#block-menu-menu-blogmenu .content ul li ul.menu li {
  display:block;
  overflow:hidden;
  line-height:1.5em;
  padding-bottom: 10px;
}

#block-menu-menu-blogmenu .content ul li ul.menu li a {
  color: #3C8880;
  text-shadow: #333 1px 1px 2px;
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

#block-system-0 {
  width:100%;	
}

#block-system-0 img {
  margin: 0 auto;	
}

/*
 * Twitter sidebar
 */

#block-views-tweets-block2 h2.title {
  color: #a2bbe9;
  text-shadow: #000 2px 2px 3px;
}

#block-views-tweets-block2 .content {
  border-top: #224466 10px solid;
  padding: 0.2em 0.7em 0 0.7em;
  background: url(../images/twitter-block_back.png);
  margin-bottom: -0.6em;
  overflow:hidden;
}

.sidebar #block-views-tweets-block2 .block-bottom {
  display: block;
  background:url(../images/twitter-block_bottom.png);
  height:30px;
  width:230px;
}

.sidebar #block-views-tweets-block2 a:link,
.sidebar #block-views-tweets-block2 a:visited
#block-views-tweets-block_1 a:link,
#block-views-tweets-block_1 a:visited {
  color: #444;
  text-decoration:none;
}

.sidebar #block-views-tweets-block2 a:hover,
#block-views-tweets-block_1 a:hover {
  color:#000;
}

.sidebar #block-views-tweets-block2 .views-field-profile-image-url,
#block-views-tweets-block_1 .views-field-profile-image-url {
  width: 50px;
  display: block;
  float: left;
  margin-bottom: 3px;
}

.sidebar #block-views-tweets-block2 .views-field-text,
#block-views-tweets-block_1 .views-field-text {
  width: 150px;
  display: block;
  float: right;
  color: #FFF;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 0.95em;
  line-height: 1.4em;
  text-shadow: #000 0 1px 0;
}

.sidebar #block-views-tweets-block2 .views-field-created-time,
#block-views-tweets-block_1 .views-field-created-time {
  width: 100%;
  display: block;
  float: left;
  text-align: right;
  border-bottom: 1px #FFF dashed;
  font-size:10px;
  vertical-align:bottom;
  margin: 3px 0 6px 0;
  color:#FFF;
  text-shadow: #000 0 1px 0;
}

#block-views-tweets-block2 a:link,
#block-views-tweets-block_1 a:link {
  color:#CCC;	
}

#block-views-tweets-block2 a:hover,
#block-views-tweets-block_1 a:hover {
  color:#FFF;
}

#block-views-tweets-block2 a:visited,
#block-views-tweets-block_1 a:visited {
  color:#CCC;	
}

/*
 * Twitter shoulder
 */

#block-views-tweets-block_1 h2.title {
  text-shadow: #000 2px 2px 2px;
  margin-bottom:-10px;
}

#block-views-tweets-block_1 .content {
  border-top: #224466 5px solid;
  padding: 0.2em 0.7em 0 0.7em;
  background: url(../images/twitter-block_back.png);
  margin-bottom: -0.6em;
  overflow:hidden;
}


#block-views-tweets-block_1 {
  margin-bottom: -25px;	
}

#block-views-tweets-block_1 div.scrollable {
  height: 80px;	
}


#block-views-tweets-block_1 .content .item {
  width: 380px;
  margin: 0 1em 0 0;
}

#block-views-tweets-block_1 .views-field-text {
  width: 320px;
}

#block-views-tweets-block_1 .block-bottom {
  display: block;
  background:url(../images/twitter-shoulder-block_bottom.png);
  height:30px;
  width:400px;
}

/*
 * Beta block
 */
 
#block-block-9 h2.title {
  text-shadow: #666 2px 2px 3px;
  color:#000;
}

#block-block-9 .content {
  border-top: none;
  padding: 0.5em 0.7em 0 0.7em;
  background: url(../images/beta-block-back.png);
  margin-bottom: -0.6em;
  overflow:hidden;
}

#block-block-9 .block-bottom {
  display: block;
  background:url(../images/beta-block_bottom.png);
  height:30px;
  width:230px;
}

/*
 * Social block
 */

#block-block-11 h2.title {
  color:#3B5998;
}

#block-block-11 .content {
  border-top: #627AAD 10px solid;
}

#block-block-11 ul {
  padding: 0 0 0 0.375em;
  margin: 0.75em 0 0.5em 0;
  text-align:center;	
}

#block-block-11 ul li {
  display:inline;
  padding: 0 0.75em 0 0;
  line-height: 1em;
}

/*#block-block-11 ul li img {
  box-shadow: 3px 3px 4px #333;
  -webkit-box-shadow: 3px 3px 4px #333;
  -moz-box-shadow: 3px 3px 4px #333;
}/*