/* $Id: layout-fixed.css,v 1.17 2009/11/05 12:09:53 johnalbin Exp $ */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#page {
}

/*
 * Header
 */
#header {
padding: 0 15px 3px 15px;
margin: 0 0 5px 0;
border-bottom: 10px #AAF09F solid;
}

#header .section {
}

#site_info {
float:left;
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
}

/*
 * Shoulder
 */
#shoulder {
	float: right;
	width: 400px;
}

#shoulder .section {
}

#search-box {
}

.region-shoulder {
  clear: both; /* Clear the logo */
}


/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left;
  width: 1000px;
  margin-left: 0;
  margin-right: -1000px; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 850px;
  margin-left: 150px; /* The width of .region-sidebar-first. */
  margin-right: -1000px; /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 750px;
  margin-left: 0;
  margin-right: -750px; /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 600px;
  margin-left: 150px; /* The width of .region-sidebar-first */
  margin-right: -750px; /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 0;
}

/*
 * Navigation
 */
#navigation {
  float: left;
  width: 700px;
  margin-left: 0;
  margin-right: -700px; /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 55px; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 55px; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
	z-index:10000;
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left;
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left;
  padding: 0 10px 0 0;
}

/*
 * Search area
 */

#search_area {
  float: right;
  width: 300px;
  margin-left: 0;
  margin-right: 0; /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 55px; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

#search_area .gsc-search-box table {
  margin:0;	
}

#search_area .gsc-resultsbox-visible {
  position:relative;
  z-index: 10000 !important;
}

.with-search_area #content,
.with-search_area .region-sidebar-first,
.with-search_area .region-sidebar-second {
  margin-top: 55px; /* Set this to the same value as the navigation height above. */
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left;
  width: 150px;
  margin-left: 0;
  margin-right: -150px; /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 20px 0 0;
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left;
  width: 250px;
  margin-left: 750px; /* Width of content + sidebar-first. */
  margin-right: -1000px; /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px;
  padding: 0;
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

/*
 * Pager
 */

.one-sidebar #content .pager a,
.one-sidebar #content .pager strong.pager-current {
  padding: 0 2px;
}

/*
 * Node
 */
  
#content .node .content {
  margin: 0 0 -1.2em 0;
  padding: 0.1em 0 0 0;
  clear:both;
}
 
#content .node .content p,
#content .node .content ol,
#content .node .content dl,
#content .node .content pre,
#content .node .content fieldset,
#content-area .node #disqus_thread {
  margin-left: 5em;
  padding: 0 1.6em;
}

#content .node .content blockquote {
  margin-left: 9em;
}

#content .node .content h3,
#content .node .content h4,
#content .node .content h5 {
  margin-left: 5em;
  padding: 0 0.6em;
}

#content .node .content ul li {
  margin-left: 7em;
  padding: 0 0.6em;
}

#content .node .content #disqus_thread ul li,
#content .node .content #disqus_thread h3,
#content .node .content #disqus_threadh4,
#content .node .content #disqus_thread h5 {
  margin-left: 0;
  padding: 0;
}

#content .node .node-header {
  margin: 0.8em 1px 0 6em;
  padding: 0.5em 0 0.1em 0;
  overflow:auto;
  height:100%;
}

#content .node .node-header .node-date,
#content .node .node-header .tweet-button {
  display: inline;
}

#content .node .node-header .node-date {
  padding: 0 0 0 0.5em;
  float: left;	
}

#content .node .node-header .tweet-button,
.disqus_comments {
  margin: -0.2em 0 0 0;
  float: right;	
}

.node-header .disqus_comments {
  height:20px;
  display:block;
  width:112px;
}

.node-header .disqus_comments span {
  text-align:right;
  width: 28px;
  display: block;
  overflow:hidden;
  float:right;
}

.node-header .disqus_comments .comments {
  font: bold 12px Arial,Helvetica,sans-serif;
  height:20px;
  display:block;
  line-height:22px;
  text-align: center;
}


#content .node .content img.alignright, 
#content .node .content img.alignleft,
#content .node .content img.imageright,
#content .node .content img.imageleft,
.node img.imagecache-image_half {
  margin: 0 1em 0.5em -5em;
  float:left;
}

#content .node .content img.aligncenter,
#content .node .content img.imagecenter,
.node img.imagecache-image_full {
  margin: 0 1em 0.5em -5em;
}

#content .node .content blockquote img.alignright, 
#content .node .content blockquote img.alignleft,
#content .node .content blockquote img.imageright,
#content .node .content blockquote img.imageleft,
#content .node .content blockquote img.aligncenter,
#content .node .content blockquote img.imagecenter,
.node blockquote img.imagecache-image_full,
.node blockquote img.imagecache-image_half {
  margin: 0 1em 0.5em -10em;
}

#content .node .content blockquote p {
  margin-left: 0;
}