/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

.one-sidebar #content .item-list .pager li.pager-item,
.one-sidebar #content .item-list .pager li.pager-first,
.one-sidebar #content .item-list .pager li.pager-previous,
.one-sidebar #content .item-list .pager li.pager-next,
.one-sidebar #content .item-list .pager li.pager-last {
  background: url(../images/blog-back_middle.png) center;
  box-shadow: 2px 2px 4px #333;
  -webkit-box-shadow: 2px 2px 4px #333;
  -moz-box-shadow: 2px 2px 4px #333;
}

.one-sidebar #content li.pager-current {
  background: url(../images/personal_back.png);
  box-shadow: 2px 2px 4px #333;
  -webkit-box-shadow: 2px 2px 4px #333;
  -moz-box-shadow: 2px 2px 4px #333;
  color:#FFFAFA;
}