body {
	background: url(clouds.gif) fixed;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	border: none;
}
A:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #000033;
}
A:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
A:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: none;
}
#main {
	font-family: Arial, Helvetica, sans-serif;
	width:700px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content {
	font-family: Arial, Helvetica, sans-serif;
	width:800px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.navigation {
	width:700px;
	border: medium double #000099;
	padding: 10px;
}
.blognavigation {
	width:600px;
	border: medium double #000033;
	padding: 10px;
}
h2 {
	font:bold 78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
	text-transform:uppercase;
	letter-spacing:.25em;
}
.date-header {
	margin:0em 0 0.5em;
	color: #000000;
	font-weight: bold;
	padding: 3px;
}
.post {
	margin:.5em 0 1.5em;
	padding-bottom:1.5em;
	border: thin solid #000099;
	padding: 10px;
}
.text {
	padding-bottom:1.5em;
	border: thin solid #000099;
	padding: 10px;
}
.post p {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: -0.5;
}
.post blockquote {
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
}
.back {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.update {
	border: medium double #000099;
	font-family: Arial, Helvetica, sans-serif;
	padding:5px;
}
marquee {
	color: #000000;
	font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
	font-weight: bolder;
	padding: 10px;
	border: thin solid #000099;
	width:700px;
	background-color: #FFFFFF;
}
hr {
	color:#000099;
	width:50%;
}