body {
  background: #F9F9F2;
}

.nlc-section {
  padding-top:50px;
}

#factors g.highcharts-markers {
  visibility: none !important;
  display:none;
}

#factors .nav-pills {
  margin-bottom: 10px;
}

#container5, #container6, #container13, #container14 {
  width: 783px;
  height: 400px;
}

.ui-slider {
  background: #999;
}

.ui-slider-handle {
  background: #666 !important;
  color: #666;
}

footer {
  margin-top: 50px;
}