<?xml version="1.0" encoding="UTF-8"?>
<configs>

   <!-- COLORS -->
   <color1 value="000000" />  <!-- LOGO, BUTTON -->
   <color2 value="FFFFFF" />  <!-- BUTTON TEXT, BACKGROUND -->
   <color3 value="000000" />  <!-- PLAYLIST TEXT -->
   <color4 value="000000" />  <!-- BORDER -->
   <bg_opacity value="100" /> <!-- BACKGROUND OPACITY -->

   <!-- PLAYLIST PATH -->
   <playlist path="sounds/playlist.php" />

   <!-- PARAMETERS --> 
   <buffer value="5" />
   <crossfader value="0" /> <!-- 1 | 0 -->
   <style value="mini" />   <!-- full | mini | compact -->

</configs>