/* $Id: block-editing.css,v 1.2 2008/09/14 12:50:55 johnalbin Exp $ */

/*
 * Rollover edit links for blocks
 */

  div.block.with-block-editing
  {
    position: relative;
  }

  div.block.with-block-editing div.edit
  {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
    border: 1px solid #eee;
    padding: 0 2px;
    font-size: 9px;
    background-color: #fff;
  }

  div.block.with-block-editing:hover div.edit
  {
    display: block;
  }

/* Twitter block #content-top */

#content-top #block-views-tweets-block
{
	color: #333;
	padding: 55px 20px 20px 20px;
	background: url(images/twitter_back.png);
	height: 150px;
	margin-top: 10px;
	margin-bottom: 90px;
}

#content-top #block-views-tweets-block a:link,
#content-top #block-views-tweets-block a:visited
{
	color: #444;
	text-decoration:none;
}

#content-top #block-views-tweets-block a:hover
{
	color:#000;
}

#content-top #block-views-tweets-block .bottom
{
	margin-left: -20px;
	margin-top: -1px;
	width:710px;
	height:19px;
	background:url(images/twitter_bottom.png) no-repeat;
}

#block-views-tweets-block .views-row
{
	width: 685px;
}

#content-top #block-views-tweets-block .views-field-profile-image-url
{
	width: 60px;
	height: 53px;
	display: block;
	float: left;
	border-bottom: 1px #666 dashed;
	margin-bottom: 3px;
}

#content-top #block-views-tweets-block .views-field-text
{
	width: 475px;
	height: 41px;
	display: block;
	float: left;
	padding: 3px 5px;
	display:inline;
	border-bottom: 1px #666 dashed;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:15px;
	margin-bottom: 3px;
	margin-top: 6px;
}

#content-top #block-views-tweets-block .views-field-created-time
{
	width: 120px;
	height: 18px;
	margin-right: 20px;
	display: block;
	float: right;
	display:inline;
	text-align: right;
	border-bottom: 1px #666 dashed;
	font-size:10px;
	vertical-align:bottom;
	padding: 35px 0 0 0;
	margin-bottom: 3px;
}

/* Twitter block #sidebar-right */

#sidebar-right #block-views-tweets-block
{
	color: #333;
	margin: 10px 0 0 10px;
}

#sidebar-right #block-views-tweets-block .block-inner
{
	background:url(images/twitter_right_back.gif) no-repeat;
	background-color: #C6E1EF;
	padding: 50px 10px 0 10px;
	width:220px;
}

#sidebar-right #block-views-tweets-block a:link,
#sidebar-right #block-views-tweets-block a:visited
{
	color: #444;
	text-decoration:none;
}

#sidebar-right #block-views-tweets-block a:hover
{
	color:#000;
}

#sidebar-right #block-views-tweets-block .top
{
	width:250px;
	height:20px;
	background:url(images/twitter_right_top.png) no-repeat;
}

#sidebar-right #block-views-tweets-block .bottom
{
	width:250px;
	height:20px;
	background:url(images/twitter_right_bottom.png) no-repeat;
}

#sidebar-right .views-row
{
	width: 210px;
}

#sidebar-right #block-views-tweets-block .views-field-profile-image-url
{
	width: 50px;
	display: block;
	float: left;
	margin-bottom: 3px;
}

#sidebar-right #block-views-tweets-block .views-field-text
{
	width: 150px;
	display: block;
	float: right;
	display:inline;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:15px;
}

#sidebar-right #block-views-tweets-block .views-field-created-time
{
	width: 210px;
	display: block;
	float: left;
	display:inline;
	text-align: right;
	border-bottom: 1px #666 dashed;
	font-size:10px;
	vertical-align:bottom;
	margin: 3px 0 6px 0;
}