/* $Id: page-backgrounds.css,v 1.8 2009/11/04 20:57:49 johnalbin Exp $ */

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */

body {
background:url(../images/back.jpg)
}

#page-wrapper {
}

#page {
}

#header {
}

#header .section {
}

#main-wrapper {
}

#main {
}

.node-header .disqus_comments {
  background: url(../images/disqus-comment_button.png) no-repeat;
}

.node-header .disqus_comments span {
  background: url(../images/disqus-comment_box.png) no-repeat right;
}

.section .node .content {
  background: url(../images/blog-back_middle.png);
}

.section .node .node-bottom {
  display: block;
  background:url(../images/blog-back_bottom.png);
  height:50px;
  width:750px;
}

#footer {
}

#footer .section {
}
